* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #6bd0fc;
}

.bush {
    position: absolute;
    content: '';
    bottom: px;
    width: 100px;
    height: 100px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #9ad7ea;
    z-index: 10;
}