.moon {
    position: absolute;
    content: '';
    bottom: 450px;
    left: 580px;
    width: 7rem;
    height: 7rem;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 100%;
    background:white;
    z-index: 10;
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgb(255, 255, 255) 0%, rgba(255,255,255,1) 20%, rgba(0,212,255,1) 100%);
    -webkit-box-shadow: 100px 100px 100px 100px rgb(255, 255, 255);
    -moz-box-shadow: 100px 100px 100px 100px rgba(255, 255, 255);
    box-shadow: 0px 0px 50px 0px rgba(255, 255, 255);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #071633;
}

.floor {
    position: absolute;
    content: '';
    bottom: 0;
    z-index: 6;
    border: 50px solid #aec4d2;
    width: 100%;
}

.leave-1 {
    position: absolute;
    content: '';
    bottom: 250px;
    left: 1130px;
    border-top: 0px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 70px solid #fff;
    border-left: 50px solid transparent;
    z-index: 6;
}

.leave-shadow-1 {
    position: absolute;
    content: '';
    bottom: 250px;
    left: 1135px;
    border-top: 0px solid transparent;
    border-right: 45px solid transparent;
    border-bottom: 65px solid #a3a3a3;
    border-left: 45px solid transparent;
    z-index: 7;
}

.leave-bottom-1 {
    position: absolute;
    content: '';
    bottom: 170px;
    left: 1110px;
    border-top: 0px solid transparent;
    border-right: 70px solid transparent;
    border-bottom: 150px solid #fff;
    border-left: 70px solid transparent;
    z-index: 6;
}

.stick-1 {
    position: absolute;
    content: '';
    bottom: 100px;
    left: 890px;
    border-top: 50px solid #8a909d;
    border-right: 10px solid #8a909d;
    border-bottom: 50px solid #8a909d;
    border-left: 10px solid #8a909d;
    z-index: 5;
}

.leave-2 {
    position: absolute;
    content: '';
    bottom: 250px;
    left: 990px;
    border-top: 0px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 70px solid #fff;
    border-left: 50px solid transparent;
    z-index: 6;
}

.leave-shadow-2 {
    position: absolute;
    content: '';
    bottom: 250px;
    left: 995px;
    border-top: 0px solid transparent;
    border-right: 45px solid transparent;
    border-bottom: 65px solid #a3a3a3;
    border-left: 45px solid transparent;
    z-index: 7;
}

.leave-bottom-2 {
    position: absolute;
    content: '';
    bottom: 170px;
    left: 970px;
    border-top: 0px solid transparent;
    border-right: 70px solid transparent;
    border-bottom: 150px solid #fff;
    border-left: 70px solid transparent;
    z-index: 6;
}

.stick-2 {
    position: absolute;
    content: '';
    bottom: 100px;
    left: 1030px;
    border-top: 50px solid #8a909d;
    border-right: 10px solid #8a909d;
    border-bottom: 50px solid #8a909d;
    border-left: 10px solid #8a909d;
    z-index: 5;
}

.leave-3 {
    position: absolute;
    content: '';
    bottom: 250px;
    left: 850px;
    border-top: 0px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 70px solid #fff;
    border-left: 50px solid transparent;
    z-index: 6;
}

.leave-shadow-3 {
    position: absolute;
    content: '';
    bottom: 250px;
    left: 855px;
    border-top: 0px solid transparent;
    border-right: 45px solid transparent;
    border-bottom: 65px solid #a3a3a3;
    border-left: 45px solid transparent;
    z-index: 7;
}

.leave-bottom-3 {
    position: absolute;
    content: '';
    bottom: 170px;
    left: 830px;
    border-top: 0px solid transparent;
    border-right: 70px solid transparent;
    border-bottom: 150px solid #fff;
    border-left: 70px solid transparent;
    z-index: 6;
}

.stick-3 {
    position: absolute;
    content: '';
    bottom: 100px;
    left: 1170px;
    border-top: 50px solid #8a909d;
    border-right: 10px solid #8a909d;
    border-bottom: 50px solid #8a909d;
    border-left: 10px solid #8a909d;
    z-index: 5;
}

.mountain{
    position: absolute;
    content: "";
    bottom:  100px;
    left: 120px;
    border-top: 0px solid transparent;
    border-right: 180px solid transparent;
    border-bottom: 350px solid whitesmoke;
    border-left: 180px solid transparent;
    z-index: 6;
}
.mountain-shadow{
    position: absolute;
    content: "";
    bottom:  100px;
    left: 300px;
    border-top: 0px solid transparent;
    border-right: 180px solid transparent;
    border-bottom: 350px solid rgb(159, 172, 189);
    border-left: 0px solid transparent;
    z-index: 6;

}
.mini-mountain{
    position: absolute;
    content: "";
    bottom: 100px;
    left: -50px;
    border-top: 0px solid transparent;
    border-right: 280px solid transparent;
    border-bottom: 280px solid whitesmoke;
    border-left: 170px solid transparent;
    z-index: 5;
}
.mini-shadow{
    position: absolute;
    content: "";
    bottom:  100px;
    left: 120px;
    border-top: 0px solid transparent;
    border-right: 280px solid transparent;
    border-bottom: 280px solid rgb(159, 172, 189);
    border-left: 0px solid transparent;
    z-index: 5;
}
}
.star1{
    position: absolute;
    content: '';
    bottom: 270px;
    left: 1200px;
    width: 0.21rem;
    height: 0.21rem;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 100%;
    background:white;
    z-index: 10;
}
.star2{
    position: absolute;
    content: '';
    bottom: 300px;
    left: 300px;
    width: 0.4rem;
    height: 0.4rem;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 100%;
    background:white;
    z-index: 10;
}
.star3{
    position: absolute;
    content: '';
    bottom: 270px;
    left: 530px;
    width: 0.4rem;
    height: 0.4rem;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 100%;
    background:white;
    z-index: 10;
}
.star4{
    position: absolute;
    content: '';
    bottom: 210px;
    left: 1000px;
    width: 0.18rem;
    height: 0.18rem;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 100%;
    background:white;
    z-index: 10;
}
.star5{
    position: absolute;
    content: '';
    bottom: 200px;
    left: 450px;
    width: 0.18rem;
    height: 0.18rem;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 100%;
    background:white;
    z-index: 10;
}
.star6{
    position: absolute;
    content: '';
    bottom: 420px;
    left: 250px;
    width: 0.18rem;
    height: 0.18rem;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 100%;
    background:white;
    z-index: 10;
}
.star7{
    position: absolute;
    content: '';
    bottom: 300px;
    left: 110px;
    width: 0.12rem;
    height: 0.12rem;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 100%;
    background:white;
    z-index: 10;
}
.star8{
    position: absolute;
    content: '';
    bottom: 140px;
    left: 1300px;
    width: 0.12rem;
    height: 0.12rem;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 100%;
    background:white;
    z-index: 10;
}

